body {
  background-image: url(./assets/bg-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
#container {
  width: 640px;
  margin: auto;
  border: 1px solid white;
  display: block;
  text-align: center;
}
#profile img {
  width: 112px;
  margin: auto;
}
body * {
  font-family: "Inter", sans-serif;
  color: white;
}
#profile p{ 
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}
* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
